---
layout: default
title: Flambe
---

<div class="jumbotron">
  <h1>Make games quick.</h1>
  <p class="lead">Flambe is a 2D game engine that makes cross-platform development actually fun.
  Spend less time dealing with platform-specific bugs, and more time building great games.</p>
  <p><a class="btn btn-large btn-success" href="#">Get started</a></p>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Fully Cross Platform</h4>
    <p>Take your game to HTML5, Flash, iOS, and Android with zero changes. Run on all modern desktop
    and mobile web browsers. Build native apps with the popular Adobe AIR.</p>

    <h4>Haxe Powered</h4>
    <p>Write games in Haxe, an open source, AS3-like language with expressive features and a fast compiler.</p>

    <h4>Iterate Quickly</h4>
    <p>Tweak assets and immediately see the changes in the running game, with no restart. Perform
    full rebuilds in under a second.</p>

    <h4>Powerful Asset Loading</h4>
    <p>Automatically handle all platform-specific formats and quirks. Lazily load
    different asset directories on demand, with zero configuration.</p>
  </div>

  <div class="span6">
    <h4>Batteries Included</h4>
    <p>Full support for the other tools needed to make great games. Import Flash animations,
    particle effects, bitmap fonts, using tools like Flump, Particle Designer, and Glyph Designer.

    <h4>Fast Graphics</h4>
    <p>At the core of Flambe is a lightning fast renderer implemented in WebGL, Canvas, and
    Stage3D.</p>

    <h4>Designed For Games</h4>
    <p>Flambe's minimal and elegant API is designed for cross-platform 2D games, and is not a port.
    This tightly defined scope allows for better performance, fewer bugs, and greater ease of
    use.</p>

    <h4>Free and Open Source</h4>
    <p>Flambe is MIT licensed and available for free. The source code is well documented, with a
    suite of unit and integration tests. Contributions are encouraged!</p>
  </div>
</div>

<hr>

<div class="blurbs">
  {% for blurb in site.blurbs %}
  <div class="blurb">
    <img class="pull-{% cycle 'left', 'right' %}" src="http://placehold.it/200" width="200" height="200">
    <h2>{{ blurb.title }}</h2>
    <p>{{ blurb.body }}</p>
  </div>
  {% if forloop.last == false %}<hr>{% endif %}
  {% endfor %}
</div>
